$white: rgb(226, 224, 224);
$black: rgba(0, 0, 0, 0.932);
$hoverColor: rgb(169, 169, 169);
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
//Modal------------------------------------
.bg-modal-open {
	z-index: 4;
	transition: all 0.5s ease 0.2s;
	background-color: rgba(0, 0, 0, 0.596);
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
}
.project-description-group {
	display: flex;
	flex-direction: column;
	text-align: left;
	h2 {
		font-size: 2rem;
	}
	h3 {
		font-size: 1.2rem;
		color: $hoverColor;
	}
	p {
		font-size: 1.1rem;
		font-style: italic;
		font-weight: normal;
	}
}
.bg-modal {
	display: none;
}
.modal-contents {
	position: relative;
	transition: all 0.5s ease 0.4s;
	top: 15%;
	background-color: rgb(10, 10, 10);
	padding: 20px;
	border-radius: 4px;
}
.close {
	background-color: black;
	padding: 0.2rem;
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 1.6rem;
	color: rgb(175, 173, 173);
	cursor: pointer;
	transition: all 0.5s;
	&:hover {
		color: rgb(236, 236, 236);
		transition: all 0.5s;
	}
}
.modalLinks {
	color: $white;
	display: flex;
	flex-direction: row;
	color: $white;
	background-color: none;
	padding: 0;
	margin-top: 10px;
	.link {
		padding: 3px;
		margin-right: 10px;
		color: white;
		text-decoration: none;
		background-color: rgba(113, 112, 112, 0.386);

		p {
			padding: 3px;
			color: white;
		}
		i {
			padding: 3px;
			color: white;
		}
	}
	a {
		cursor: pointer;
		color: white;
		text-decoration: none;
		transition: all 0.5s;
		font-size: 1.3rem;
		&:hover {
			background-color: rgb(119, 117, 117);
		}
		i {
			font-size: 1.3rem;
			color: white;
		}
	}
}

.modalImg {
	display: flex;
	justify-content: center;
}
.image-project {
	width: 100%;
}
.iphone {
	width: 100%;
	margin: 0vh;
}
//---------------min-800px------------iPad---------Desktop---------------------------------800px---------------------------------
@media screen and (min-width: 800px) {
	.bg-modal-open {
		z-index: 4;
		transition: all 0.5s ease 0.2s;
		background-color: rgba(0, 0, 0, 0.596);
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.modal-contents {
		height: 80%;
		width: 50%;
	}
	.modalLinks {
		display: flex;
		flex-direction: row;
		color: $white;
		background-color: none;
		padding: 0;
		margin-top: 10px;

		.link {
			padding: 3px;
			margin-right: 10px;
			color: white;
			text-decoration: none;
			background-color: rgba(113, 112, 112, 0.386);

			p {
				padding: 3px;
				color: white;
				font-size: 1.3rem;
			}
			i {
				padding: 3px;
				font-size: 1.2rem;
				color: white;
			}
		}
	}
}
